.newcomment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e0e7ff;
  color: #4338ca;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  padding: 10px 10px;
}
input {
  margin: 15px 0;
}
label {
  margin-right: 5px;
}
