.newcomment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e0e7ff;
  color: #4338ca;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  padding: 10px 10px;
}
input {
  margin: 15px 0;
}
label {
  margin-right: 5px;
}
button {
  display: flex;
  align-items: center;
  outline: none;
  padding: 5px 10px;
  background-color: #3b4d88;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #4338ca;
  margin: 20px 0;
}
